{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %} 
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">ADMIN AREA</h1>
          <p class="lead">No Bullshit, Only serious tasks</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <form action="postform" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}